html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.temp_color { color:#E86144; }
.temp_color_wait { color:#ffa084; }

.temp_title { color:#CFA39A; }

.hum_color { color:#0096FF; }
.hum_color_wait { color:#6fc1fa; }


.hum_title { color:#89CFF0; }

.gray_title { color:#ccc; }


.sub_text { color:#ccc; }

.input-range-m1 {
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  background: #ccc;
  border: 1px solid #333;
}


.input-range-m2 {
  width: 100%;
}
